
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.full-wrapped-terminal {
    height: 100%;
    background-color: black;
    padding: 1em;
}

.terminal-text-area {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
    border-radius: 10px;
    border: 2px solid limegreen;
    color: limegreen;
}

.line-wrapper {
    margin: .5em;
    margin-left: 1em;
    width: calc(100% - 1.5em);
}

.percent-padding {
    padding-left: 5px;
}

.bad-color {
    color: red;
}

.med-color {
    color: yellow;
}

.reg-color {
    color: limegreen;
}

.terminal-input {
    width: 100%;
    border-width: 0;
    border-style: none;
    font-size: inherit;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    padding: 0;
}
.terminal-input:focus {
    outline-offset: 0;
    outline: none;
}

.hacker-font {
    font-family: "Courier New", Courier, monospace;
    font-weight: normal;
    font-style: normal;
}

.scrollbar {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}
